body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 5px solid white;
    background-color: white;
    background-image: url('sprites/pixelspace.png');
    background-size: cover;
    width: 700px;
}